body {
    font-family: Arial, sans-serif;
    background-image: url(download\ \(11\).jpeg); /* Hitam */
    color: #204332; /* Putih */
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: beige;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px #002916;
    width: 300px;
    text-align: center;
}

h2 {
    text-align: center;
    color: #002916; /* Ungu Muda */
}

label {
    text-align: left;
    display: block;
    margin-bottom: 2px;
    
}
input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #002916; 
    border-radius: 5px;
    background-color: #eefff7; 
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #002916;
    color: #FFFFFF; 
    border: none;
    border-radius: px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #00291693; /* Ungu Tua */
}

p {
    margin-top: 10px;
}

a {
    color: #3498DB; /* Biru Muda */
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
